__pycache__
.ipynb_checkpoints

tmp/

equities/utils/tmp
equities/utils/*.tar.xz
equities/scraper.log
equities/log.log
equities/err.log

rss/rss.log

instruments/log.log
instruments/err.log

config.json
