__pycache__
.ipynb_checkpoints

tmp/

db/data
db/tmp
db/test.py
db/surfaces

equities/utils/tmp
equities/utils/tformed
equities/utils/*.tar.xz
equities/scraper.log
equities/log.log
equities/err.log

utils/new
utils/old
utils/tmp
utils/tars

rss/rss.log

instruments/log.log
instruments/err.log

config.json
config_gcp.json
