__pycache__
.ipynb_checkpoints

tmp/

equities/utils/tmp
equities/utils/tformed
equities/utils/*.tar.xz
equities/scraper.log
equities/log.log
equities/err.log

utils/new
utils/old
utils/tmp
utils/tars

rss/rss.log

instruments/log.log
instruments/err.log

config.json
